{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist/libs/shared-library-webpack-plugin"
      }
    ],
    "@semantic-release/github"
  ]
}
